.img-sm{
  width: 100px;
  height: 100px; 
  margin-right: 20px;
  object-fit: cover;
}

.flex{
  display: flex !important;
}

.delete-btn{
  margin-top: 20px;
}

.delete-btn>span{
  color: white;
  font-size: 25px;
  padding: 10px;
  background: rgb(192, 0, 0);
}
