.caja{
    border-radius: 3px;
    border-color: #ABBFC3;
    border-style: solid;
    outline-width: 20;
    border-width: 2px;
    margin-bottom: 1rem;
}
.caja:hover{
    transition: 0.5s;
    background-color: #ABBFC3;
    
}

.img{
    object-fit: contain;
    height: 250px;
}

.btn-cart{
    border-radius: 0 !important;
    color: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn-cart>span{
    background-color: #ABBFC3;
    padding: 5px;
}

.btn-cart>span:hover{
    background-color: #92a2a5;

}
