@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&family=Raleway:wght@300;600&family=Roboto+Condensed:ital,wght@1,400;1,700&display=swap');

body, html {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.deco-box{
  position: relative;
}

@keyframes fade-left{
  from {
    opacity: 0%;
    margin-left: -200px;
  }
  to{
    opacity: 100%;
    margin-left: 0;
  }
}
@keyframes fade-right{
  from {
    opacity: 0%;
    margin-right: -200px;
  }
  to{
    opacity: 100%;
    margin-right: 0;
  }
}

.deco{
  overflow: hidden;
  z-index: -1;
  position: absolute;
  background-color:#ABBFC3;
  top: 10px;
  height: 20vw;
  min-height: 50px;
  width: 75% !important;
}

.deco.right{
  animation: 1300ms 1 ease-out fade-right;

  right: 0px;
}

.deco.left{
  animation: 1300ms 1 ease-out fade-left;
  left: 0px;
}

.deco-box>div>img{
  width: 50vw;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}